<?xml version="1.0"?>
<!-- 
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category	CosmoCommerce
 * @package 	CosmoCommerce_Alipay
 * @copyright	Copyright (c) 2009-2013 CosmoCommerce,LLC. (http://www.cosmocommerce.com)
 * @contact :
 * T: +86-021-66346672
 * L: Shanghai,China
 * M:sales@cosmocommerce.com
 */
--> 
<config>
	<modules>
		<CosmoCommerce_Updates>
			<version>0.2</version>
		</CosmoCommerce_Updates>
	</modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <cosmocommerce_updates before="Mage_Adminhtml">CosmoCommerce_Updates_Adminhtml</cosmocommerce_updates>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
	<global>
		<models>
			<cosmocommerce>
				<class>CosmoCommerce_Updates_Model</class>
			</cosmocommerce>
		</models>
        <blocks>
            <cosmocommerce>
                <class>CosmoCommerce_Updates_Block</class>
            </cosmocommerce>
        </blocks>
		<helpers>
			<cosmocommerce>
				<class>CosmoCommerce_Updates_Helper</class>
			</cosmocommerce>
		</helpers>
	</global>
	<adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<cosmocommerce>
											<title>CosmoCommerce</title>
											<children>
												<feed>
													<title>Feed</title>
												</feed>
												<updater>
													<title>updater</title>
												</updater>
												<modules>
													<title>modules</title>
												</modules>
											</children>
										</cosmocommerce>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
		<events>
            <controller_action_predispatch>
                <observers>
                    <cosmocommerce>
                        <type>singleton</type>
                        <class>cosmocommerce/feed</class>
                        <method>check</method>
                    </cosmocommerce>
                </observers>
            </controller_action_predispatch>
        </events>	
        <translate>
            <modules>
                <CosmoCommerce_Updates>
                    <files>
                        <default>CosmoCommerce_Updates.csv</default>
                    </files>
                </CosmoCommerce_Updates>
            </modules>
        </translate>
	</adminhtml>
	<default>
		<cosmocommerce>
			<feed>
				<url>update.cosmocommerce.com/feed.xml</url>
				<use_https>0</use_https>
				<frequency>24</frequency>
				<enable>1</enable>
			</feed>
		</cosmocommerce>
        <system>
            <adminnotification>
                <feed_url>update.cosmocommerce.com/cosmoshop.xml</feed_url>
            </adminnotification>
        </system>
	</default>			
</config>